.ms_card_container:hover .ms_card{
  filter: blur(5px) brightness(20%);
}

.ms_card_container:hover .ms_card_description{
  top:50%;
  transform: translateY(-50%);
}

a:hover{
  color: white;
}

.facebook_link:hover{
  background-color: royalblue;
}

.google_link:hover{
  background-color: tomato;
}

.twitter_link:hover{
  background-color: lightskyblue;
}

.linkedin_link:hover{
  background-color: white;
}

.linkedin_link a:hover{
  color:darkcyan;
}