h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}

section{
  margin-bottom: 50px;
}

nav li>a{
  text-decoration: none;
  color:white;
}

footer{
  text-align: center;
}

.row input,textarea{
  width: 100% ;
}

.ms_line{
  height: 5px;
}

.ms_card{
  width:100%;
  border-radius: 20px;
}

.my_about_container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.my_about_info{
  justify-content: center;
}
