h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}
nav li>a{
  text-decoration: none;
}

a{
  color:white;
}

.row input,textarea{
  width: 100% ;
}

.ms_line{
  height: 5px;
}

.ms_card{
  width:100%;
  border-radius: 20px;
}

.ms_form_input{
  border:0;
  margin: 20px 0;
  border-bottom: 1px solid lightgray;
}

.ms_form_textarea{
  height: 200px !important;
}
