h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}

section{
  margin-bottom: 50px;
}

nav li>a{
  text-decoration: none;
  color:white;
}

footer{
  text-align: center;
}

.row input,textarea{
  width: 100% ;
}


.my-start-bootstrap{
  height: 500px;
  background-color: blue;
  border: 1px solid black;
  padding: 20px 0;
  margin:auto;
}

.my-portfolio-card{
  height: 300px;
  background-color: red;
  border: 1px solid black;
}

.my_about_container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.my_about_info{
  justify-content: center;
}
