:root{
  --bs-success-rgb: 26, 188, 156;
  --bs-dark-rgb: 44, 62, 80;
  --bs-info-rgb: 58, 84, 109;
}

h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}
nav li>a{
  text-decoration: none;
}

a{
  color:white;
}

.btn-success{
  background-color: rgb(26, 188, 156);
}

.btn-dark{
  background-color: rgb(44, 62, 80);
}

.row input,textarea{
  width: 100% ;
}

.ms_line{
  height: 5px;
}

.ms_card{
  width:100%;
  border-radius: 20px;
  border:0;
  transform: scale(1);
  transition: transform 0.3s;
}

.ms_form_input{
  border:0;
  margin: 20px 0;
  border-bottom: 1px solid lightgray;
}

.ms_form_textarea{
  height: 200px !important;
}

.facebook_link,
.google_link,
.twitter_link,
.linkedin_link{
  transition: background-color 0.3s;
}
